.auth-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.auth-container h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.auth-form {
	/* flex: 2; */
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: max(500px, 30%);
	margin: 0 auto;
}

.auth-form input,
.auth-form button {
	padding: 10px;
}

.auth-form input:focus {
	outline: 1.5px solid darkblue;
}

.auth-form p {
	text-align: center;
}
