.find-friends-container {
	flex: 1.8;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: rgb(51, 51, 51);
	height: 100vh;
	max-height: 100vh;
}

.find-friends-container > section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	margin-bottom: 10px;
}

.find-friends-container > section svg {
	font-size: 2rem;
	cursor: pointer;
}

.find-friends-container > section svg:hover {
	color: coral;
}

.friends-container {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px;
}

.friends-container li {
	width: 100%;
	display: flex;
	align-items: center;
	cursor: default;
	cursor: pointer;
}

.friends-container li h3 {
	width: 100%;
	text-align: left;
}

.friends-container li button {
	border: none;
	padding: 5px 15px;
	border-radius: 10px;
	margin-right: 5px;
	cursor: pointer;
	font-size: 1rem;
}

.friends-container li button:hover {
	background-color: orange;
	color: white;
}
