.sidebar {
	flex: 1.8;
	background-color: black;
	height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	border-right: 2px solid white;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar-container > section {
	display: flex;
	align-items: center;
	position: relative;
	height: 60px;
	padding: 0 10px;
}

.sidebar-container > section h2 {
	width: 100%;
	text-align: left;
}

.sidebar-container > section svg {
	font-size: 2.2rem;
	cursor: pointer;
}

.menu-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: max(20%, 220px);
	background-color: black;
	outline: 1px solid white;
	padding: 10px 12px;
	border-radius: 10px;
	align-self: flex-end;
	list-style: none;
	position: absolute;
	right: 5px;
	top: 50px;
	user-select: none;
}

.closed-menu-container {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-right: 5px;
	position: relative;
}

.closed-menu-container p {
	font-size: 1rem;
	position: absolute;
	right: -5px;
	top: 0;
	background-color: orange;
	color: white;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: grid;
	place-content: center;
}

.closed-menu-container svg {
	width: 100%;
}

.menu-container li {
	outline: 1px solid white;
	padding: 5px;
	border-radius: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	position: relative;
}

.menu-container li span {
	display: grid;
	place-content: center;
	background-color: coral;
	font-size: 1rem;
	position: absolute;
	right: 16px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	translate: 50% 0;
}

.menu-container li:hover {
	background-color: cornflowerblue;
}

.sidebar-contacts-container {
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: rgb(51, 51, 51);
	padding-top: 1px;
}

.sidebar input {
	padding: 8px;
	border-radius: 5px;
	border: none;
	margin: 10px 5px;
}

.contact {
	border-bottom: 1px solid white;
	/* border-left: 1px solid white; */
	padding: 10px 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact:first-child {
	border: 1px solid white;
	border-right: none;
	border-left: none;
}

.contact div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.contact div:last-child {
	align-items: flex-end;
}

.contact:hover {
	background-color: cornflowerblue;
}

.sidebar-loading-page {
	flex-grow: 2;
	display: grid;
	place-content: center;
}

.sidebar-loading-page img {
	width: 60px;
}

@media screen and (max-width: 768px) {
	.sidebar {
		position: absolute;
		left: -10000px;
	}

	.sidebar.active {
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: scroll;
		z-index: 3;
		border: none;
	}
}
